image: maven:3.9.6-eclipse-temurin-17

stages:
  - build
  - test
  - sonar

cache:
  key: maven
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

# =====================
# 1) BUILD BACKEND
# =====================
build_backend:
  stage: build
  script:
    - mvn -B -f backend/pom.xml clean compile
  artifacts:
    paths:
      - backend/**/target
    expire_in: 30 min

# =====================
# 2) TEST BACKEND
# =====================
test_backend:
  stage: test
  needs: ["build_backend"]      # récupère les fichiers du build précédent
  script:

    - mvn -B -f backend/pom.xml test
  artifacts:
    paths:
      - backend/**/target
    expire_in: 30 min
  allow_failure: false

# =====================
# 3) SONAR BACKEND
# =====================
sonar_backend:
  stage: sonar
  needs: ["test_backend"]
  script:
    - mvn -f backend/pom.xml sonar:sonar -Dsonar.projectKey=essajidi-aymane-group_Essajidi-Aymane-project -Dsonar.organization=essajidi-aymane-group -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.token=$SONAR_TOKEN -Dsonar.java.source=17 -Dsonar.branch.name=$CI_COMMIT_BRANCH "-Dsonar.exclusions=**/pom.xml,**/target/**,**/.mvn/**"
  allow_failure: false
