image: maven:3.9.6-eclipse-temurin-17

stages:
  - test
  - build
  - sonar
  - package
  - release

cache:
  key: 
    files:
      - backend/pom.xml
  paths:
    - .m2/repository

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"
  DOCKER_IMAGE_BACKEND: "$CI_REGISTRY_IMAGE/backend"
  PUB_CACHE: "${CI_PROJECT_DIR}/.pub-cache"
  GRADLE_USER_HOME: "${CI_PROJECT_DIR}/.gradle"
  ANDROID_HOME: "${CI_PROJECT_DIR}/.android-sdk"
  ANDROID_SDK_ROOT: "${CI_PROJECT_DIR}/.android-sdk"

test_backend:
  stage: test
  script:
    - mvn -B -f backend/pom.xml clean test
  artifacts:
    paths:
      - backend/**/target
    expire_in: 30 min
  allow_failure: false

test_mobile:
  image: ghcr.io/cirruslabs/flutter:stable
  stage: test
  cache:
    key: flutter-mobile-shared
    paths:
      - .pub-cache/
      - .gradle/
      - .android-sdk/
      - mobile/.dart_tool/
    policy: pull-push
  before_script:
      - export PUB_CACHE="${CI_PROJECT_DIR}/.pub-cache"
      - export GRADLE_USER_HOME="${CI_PROJECT_DIR}/.gradle"
      - export ANDROID_HOME="${CI_PROJECT_DIR}/.android-sdk"
      - export ANDROID_SDK_ROOT="${CI_PROJECT_DIR}/.android-sdk"  
      - export PATH="${CI_PROJECT_DIR}/.android-sdk/cmdline-tools/latest/bin:${CI_PROJECT_DIR}/.android-sdk/platform-tools:$PATH"  # ⬅️ AJOUT
      - mkdir -p ${ANDROID_HOME}/cmdline-tools  
      - yes | flutter doctor --android-licenses 2>/dev/null || true 
  script: 
    - cd mobile 
    - flutter pub get 
    - flutter test --coverage --concurrency=4
  artifacts:
    paths:
      - mobile/coverage/
    expire_in: 30 min
  allow_failure: false

build_backend:
  stage: build
  needs : ["test_backend"]
  script:
    - mvn -B -f backend/pom.xml compile
  artifacts:
    paths:
      - backend/**/target
    expire_in: 30 min

build_mobile:
  image: ghcr.io/cirruslabs/flutter:stable
  stage: build
  needs: ["test_mobile"]
  cache:
    key: flutter-mobile-shared
    paths:
      - .pub-cache/
      - .gradle/
      - .android-sdk/
      - mobile/.dart_tool/
    policy: pull
  before_script:
    - export PUB_CACHE="${CI_PROJECT_DIR}/.pub-cache"
    - export GRADLE_USER_HOME="${CI_PROJECT_DIR}/.gradle"
    - export ANDROID_HOME="${CI_PROJECT_DIR}/.android-sdk"
    - export ANDROID_SDK_ROOT="${CI_PROJECT_DIR}/.android-sdk"  
    - export PATH="${CI_PROJECT_DIR}/.android-sdk/cmdline-tools/latest/bin:${CI_PROJECT_DIR}/.android-sdk/platform-tools:$PATH"  # ⬅️ AJOUT
    - mkdir -p ${ANDROID_HOME}/cmdline-tools  
    - yes | flutter doctor --android-licenses 2>/dev/null || true  
  script:
    - cd mobile
    - flutter pub get --offline || flutter pub get
    - flutter build apk --release --no-pub
    - flutter build appbundle --release --no-pub
  artifacts:
    paths:
      - mobile/build/app/outputs/flutter-apk/app-release.apk
      - mobile/build/app/outputs/bundle/release/app-release.aab
    expire_in: 1 week
  timeout: 20m
 

sonar_backend:
  stage: sonar
  needs: ["test_backend"]
  script:
    - mvn -f backend/pom.xml sonar:sonar -Dsonar.projectKey=essajidi-aymane-group_Essajidi-Aymane-project -Dsonar.organization=essajidi-aymane-group -Dsonar.host.url=$SONAR_HOST_URL -Dsonar.token=$SONAR_TOKEN -Dsonar.java.source=17 -Dsonar.branch.name=$CI_COMMIT_BRANCH -Dsonar.java.coveragePlugin=jacoco "-Dsonar.coverage.jacoco.xmlReportPaths=**/target/site/jacoco/jacoco.xml" "-Dsonar.exclusions=**/pom.xml,**/target/**,**/.mvn/**"
  allow_failure: true
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'



package_backend:
  stage: package
  needs: ["build_backend", "sonar_backend"]
  script:
    - mvn -B -f backend/pom.xml package -DskipTests
  artifacts:
    paths:
      - backend/**/target/*.jar
    expire_in: 1 week
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'

docker_release_backend:
  stage: release
  image: docker:24
  services:
    - docker:24-dind
  needs: ["package_backend"]
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd backend
    - docker build -t $DOCKER_IMAGE_BACKEND:$CI_COMMIT_SHORT_SHA -t $DOCKER_IMAGE_BACKEND:latest .
    - docker push $DOCKER_IMAGE_BACKEND:$CI_COMMIT_SHORT_SHA
    - docker push $DOCKER_IMAGE_BACKEND:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when  : manual

gitlab_release_backend:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs: ["package_backend", "docker_release_backend"]
  script:
    - echo "Backend v$CI_PIPELINE_IID released"
  release:
    tag_name: 'backend-v$CI_PIPELINE_IID'
    description: |
      ## Backend Release v$CI_PIPELINE_IID
      
      **Commit:** $CI_COMMIT_SHORT_SHA
      **Branch:** $CI_COMMIT_BRANCH
      **Docker Image:** `$DOCKER_IMAGE_BACKEND:$CI_COMMIT_SHORT_SHA`
      
      ###  Déploiement
      ```bash
      docker pull $DOCKER_IMAGE_BACKEND:$CI_COMMIT_SHORT_SHA
      docker run -p 8080:8080 $DOCKER_IMAGE_BACKEND:$CI_COMMIT_SHORT_SHA
      ```
    assets:
      links:
        - name: 'Container Registry'
          url: '$CI_PROJECT_URL/container_registry'
        - name: 'Pipeline'
          url: '$CI_PROJECT_URL/-/pipelines/$CI_PIPELINE_ID'
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: manual